{% macro section(item)%}
    <style>
        *{
            box-sizing: border-box;
        }

        .box{
            overflow: hidden;
        }
        .cover{
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.45);
            position: relative;
            -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
            padding: 1em;
            color: #fff;
            overflow: hidden;
            text-shadow: 1px 1px 0px #000;
        }
        .cover .title{
            font-size: 16pt;
            font-style: italic;
        }
        .box .cover .intro{
            line-height: 1.2em;
            height: 4.8em;
            width: 100%;
            position: relative;
            font-size: 10pt;
            overflow: hidden;
        }
        .cover .btn{
            padding: 0.5em 1em;
            margin: 0.5em;
            background: #0099cc;
            float: right;
            border-radius: 0.25em;
        }
        .btn a{
            color: #fff;
            text-decoration: none;
        }
        .cover .date{
            position: absolute;
            bottom: 1em;
            right: 1em;
            font-size: 10pt;
        }
        .box:hover .bottom{
            -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
            bottom: 0px;
        }
        .box:hover .bottom-left{
            -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
            bottom: 0px;
            left: 0px;
        }
        .box:hover .bottom-right{
            -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
            bottom: 0px;
            right: 0px;
        }
        .bottom{
            bottom: -200px;
        }
        .bottom-left{
            bottom: -200px;
            left: -250px;
        }
        .bottom-right{
            bottom: -200px;
            right: -250px;
        }
        /* Ordering */
        .left{order:1;}
        .right{order:2;}
        .top{order:3;}
        .bottom{order:4;}
        .top-left{order:5;}
        .top-right{order:6;}
        .bottom-left{order:7;}
        .bottom-right{order:8;}


</style>
    <section class="small-12 medium-8 large-12 columns" style="padding-left:0;padding-right:0">
        <article class="small-4 medium-4 large-4 columns box" style="background: url('{{base_url()}}assets/images/Sabrinsky.png');background-repeat: no-repeat;
                                                                     background-size: 100% 100%;background-origin: content-box;">
            <div class="cover bottom-left">
                <h2 class="title">{{lang(item)}}</h2>
                <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quis enim nam dolorem recusandae ducimus laudantium iure sint similique reiciendis quaerat dolorum cum aliquid officiis repudiandae in qui itaque maiores!</p>
                <div class="btn"><a href="#">Read more...</a></div>
                <p class="date">10/19/2013</p>
            </div>
        </article>
        <article class="small-4 medium-4 large-4 columns box" style="background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-14.jpg');background-repeat: no-repeat;
                                                                     background-size: 100% 100%;background-origin: content-box;">
            <div class="cover bottom">
                <h2 class="title">Example Post Title</h2>
                <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quis enim nam dolorem recusandae ducimus laudantium iure sint similique reiciendis quaerat dolorum cum aliquid officiis repudiandae in qui itaque maiores!</p>
                <div class="btn"><a href="#">Read more...</a></div>
                <p class="date">10/19/2013</p>
            </div>
        </article>
        <article class="small-4 medium-4 large-4 columns box" style="background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-15.jpg');background-repeat: no-repeat;
                                                                     background-size: 100% 100%;background-origin: content-box;">
            <div class="cover bottom-right">
                <h2 class="title">Example Post Title</h2>
                <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quis enim nam dolorem recusandae ducimus laudantium iure sint similique reiciendis quaerat dolorum cum aliquid officiis repudiandae in qui itaque maiores!</p>
                <div class="btn"><a href="#">Read more...</a></div>
                <p class="date">10/19/2013</p>
            </div>
        </article>


</section>
    {% endmacro%}